img {
    width:0px;
}
.i{
	display:flex;
}
.game {
	
	left:30%;
	top:30%;
    background-color:azure;
    position:absolute;
    padding:50px;}

.field {
    width:100px;
    height:100px;
    display: grid;
    background-color:salmon;
    background-size: cover;
    font-size: 0%;
}
.o {
	flex:1;
    text-align: center;
    
    width:150px;
    height: 300px;

}

.x {
	flex:1;
    text-align: center;
    
    width:150px;
    height: 300px;
}
.above{
    text-align: center;
    float:top;
}

textarea{
    width:98%;
}
p{
    font-size: 150%;

}

@media only screen and (max-width: 768px) {

    .game{
		width:100%;
        left:0;
        top:0;
        padding: 20px;
    }
    .field{

        width:70px;
        height: 70px;
    }
}